// .inputEdits{
//     width: 30%;
//     height:1.2rem;
//     border: none;
//     /* box-shadow: 2px 3px 4px 5px rgb(25, 25, 26); */
// }
*{
    background-color: rgb(186, 235, 235);
    margin:0;
    padding: 0;
}
.mainBlock{
    margin: 1rem 7rem;
    .title{
        text-align: center;
        font-size: 2.3rem;
        margin:1.5rem 0;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .fragment{
        display: grid;
        grid-template-columns: 45% 55%;
        .imageBlock{
            // -ms-flex-order: 2;
            width: 15rem;
            .imageItself{
                width: 30rem;
                border-radius: 7%;
                
            }:hover{
                transform: scale(1.07);
                // transform: rotateZ(1deg);
                transition: .7s ease-in;
                opacity: 90%;
            }
        }
        .textBlock{
            // -ms-flex-order: 1;
        }
    }
}
