// .inputEdits{
//     width: 30%;
//     height:1.2rem;
//     border: none;
//     /* box-shadow: 2px 3px 4px 5px rgb(25, 25, 26); */
// }
*{
    background-color: rgb(186, 235, 235);
    margin:0;
    padding: 0;
}
.mainBlock{
    margin: 1rem 7rem;
    .title{
        text-align: center;
        font-size: 2.3rem;
        margin:1.5rem 0;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .fragment{
        display: grid;
        grid-template-columns: 45% 55%;
        .imageBlock{
            // -ms-flex-order: 2;
            width: 15rem;
            .imageItself{
                width: 30rem;
                border-radius: 7%;
                
            }:hover{
                transform: scale(1.03);
                // transform: rotateZ(1deg);
                transition: .7s ease-in;
                opacity: 98%;
            }
        }
        .textBlock{
            .buttonContainer {
                display: flex;
                // justify-content: space-evenly;
                .button {
                    padding: 10px 20px;
                    background-color: #e8ce09; /* Green background color */
                    color: white; /* White text color */
                    text-align: center;
                    text-decoration: none;
                    // display: inline-block;
                    font-family:Georgia, Times, 'Times New Roman', serif;
                    font-size: 1.2rem;
                    color: black;
                    margin: 4px 2px;
                    cursor: pointer;
                    border-radius: 4px;
                }
            }
        }
    }
}
